@page "/{pageindex:int=1}"
@addTagHelper *,Pager
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section id="slider">
    <!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class=""></li>
                        <li data-target="#slider-carousel" data-slide-to="1" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="2" class=""></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>E</span>-SHOPPER</h1>
                                <h2>Free E-Commerce Template</h2>

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. </p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="images/home/girl1.jpg" class="girl img-responsive" alt="">
                                <img src="images/home/pricing.png" class="pricing" alt="">
                            </div>
                        </div>
                        <div class="item active">
                            <div class="col-sm-6">
                                <h1><span>E</span>-SHOPPER</h1>
                                <h2>100% Responsive Design</h2>

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. </p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="images/home/girl2.jpg" class="girl img-responsive" alt="">
                                <img src="images/home/pricing.png" class="pricing" alt="">
                            </div>
                        </div>

                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>E</span>-SHOPPER</h1>
                                <h2>Free Ecommerce Template</h2>

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. </p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="images/home/girl3.jpg" class="girl img-responsive" alt="">
                                <img src="images/home/pricing.png" class="pricing" alt="">
                            </div>
                        </div>

                    </div>

                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Category</h2>
                    <div class="panel-group category-products category-list" id="accordian">
                        <!--category-productsr-->
                         <form asp-page-handler="filterCatalogByCategory" method="post"> 
                                 <input type="hidden" name="categoryCode" id="hiddenCategoryCode" />
                               @foreach (var productCategory in Model.ProductCategoryList)
                                {
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"><a href="#" onclick="categoryCodeClick('@productCategory.Code', parentNode.parentNode.parentNode.parentNode);">@productCategory.Name</a></h4>
                                        </div>
                                    </div>
                                }
                        </form>                   
                    </div>                 

                    <div class="brands_products">
                        <!--brands_products-->
                        <h2>Brands</h2>
                        <div class="brands-name">
                            <form asp-page-handler="filterCatalogByBrand" method="post">
                                <input type="hidden" name="brandCode" id="hiddenBrandCode" />
                                <ul class="nav nav-pills nav-stacked brand-list">
                                    @foreach (var productBrand in Model.ProductBrandList)
                                    {
                                        <li>
                                            <a href="javascript:;"
                                            onclick="brandCodeClick('@productBrand.Code', parentNode.parentNode.parentNode); ">
                                                <span
                                                class="pull-right">(@productBrand.ProductCount)</span>@productBrand.Name</a>
                                        </li>
                                    }
                                </ul>
                            </form>
                        </div>
                    </div>
                    <!--/brands_products-->

                    <div class="price-range">
                        <!--price-range-->
                        <h2>Price Range</h2>
                        <div class="well">
                            <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600"
                                data-slider-step="5" data-slider-value="[250,450]" id="sl2"><br />
                            <b>$ 0</b> <b class="pull-right">$ 600</b>
                        </div>
                    </div>
                    <!--/price-range-->
                </div>
            </div>

            <div class="col-sm-9 padding-right">
                <div class="features_items">
                    <!--features_items-->
                    @foreach (var product in Model.PagedCatalog)
                    {
                        <div class="col-12 col-md-6 col-lg-4">
                            <partial name="_ProductItemPartial" model="@product" />
                        </div>
                    }
                    <razorpager aria-label="Page navigation" tag-name="nav" total-item-count="Model.TotalItems"
                        template-name="basic" page-size="Model.PageSize"></razorpager>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
<script>
    function brandCodeClick(brandCode, currentForm) {
        $('#hiddenBrandCode').val(brandCode);
        currentForm.submit();
    }

    function categoryCodeClick(categoryCode, currentForm) {
        $('#hiddenCategoryCode').val(categoryCode);
        currentForm.submit();
    }

</script>
}
