@page
@model Razor.UI.ProductModel
@{
    ViewData["Title"] = "Product";
}
<div class="container">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-page="Index">Home</a></li>
                    <li class="breadcrumb-item"><a asp-page="Product">Category</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@Model.SelectedCategory</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="left-sidebar">
                <h2>Category</h2>
                <div class="panel-group category-products" id="accordian">
                    <!--category-productsr-->
                    @foreach (var productCategory in Model.ProductCategoryList)
                    {
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="#">@productCategory.Name</a></h4>
                            </div>
                        </div>
                    }
                </div><!--/category-productsr-->

                <div class="brands_products">
                    <!--brands_products-->
                    <h2>Brands</h2>
                    <div class="brands-name">
                        <ul class="nav nav-pills nav-stacked">

                            @foreach (var productBrand in Model.ProductBrandList)
                            {
                                <li><a href=""> <span class="pull-right">(50)</span>@productBrand.Name</a></li>
                            }

                        </ul>
                    </div>
                </div><!--/brands_products-->

                <div class="price-range">
                    <!--price-range-->
                    <h2>Price Range</h2>
                    <div class="well">
                        <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2"><br />
                        <b>$ 0</b> <b class="pull-right">$ 600</b>
                    </div>
                </div><!--/price-range-->

                <div class="shipping text-center">
                    <!--shipping-->
                    <img src="images/home/shipping.jpg" alt="" />
                </div><!--/shipping-->

            </div>
        </div>

        <div class="col-sm-9 padding-right">
            <div class="features_items">
                <!--features_items-->
                @foreach (var product in Model.ProductList)
                {
                    <div class="col-12 col-md-6 col-lg-4">
                        <partial name="_ProductItemPartial" model="@product" />
                    </div>
                }

            </div>
        </div>
        @* <div class="col-12 col-sm-3">
            <div class="card bg-light mb-3">
            <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-list"></i> Categories</div>
            <ul class="list-group category_block">

            @foreach (var category in Model.CategoryList)
            {
            <li class="list-group-item"><a asp-page="Product" asp-route-categoryId="@category">@category</a></li>
            }

            </ul>
            </div>

            <div class="card bg-light mb-3">
            <div class="card-header bg-success text-white text-uppercase">Last product</div>
            <div class="card-body">
            <img asp-append-version="true" class="img-fluid" src="~/images/product/@Model.ProductList.LastOrDefault().ImageFile" />
            <h5 class="card-title">@Model.ProductList.LastOrDefault().Name</h5>
            <p class="card-text">@Model.ProductList.LastOrDefault().Summary</p>
            <p class="bloc_left_price">@Model.ProductList.LastOrDefault().Price $</p>
            </div>
            </div>

            </div>*@

        @* <div class="col">
            <div class="row">

            @foreach (var product in Model.ProductList)
            {
            <div class="col-12 col-md-6 col-lg-4">
            <partial name="_ProductItemPartial" model="@product" />
            </div>
            }

            <div class="col-12">
            <nav aria-label="...">
            <ul class="pagination">
            <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active">
            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
            <a class="page-link" href="#">Next</a>
            </li>
            </ul>
            </nav>
            </div>
            </div>
            </div>*@

    </div>
</div>