@model CatalogModel

<div class="product-image-wrapper">
    <div class="single-products">
        <div class="productinfo text-center">
            <a asp-page="ProductDetail" asp-route-productId="@Model.Id"><img asp-append-version="true" width="268"
                    height="249" class="card-img-top" src="@Model.MediumImageURL" alt=""></a>
            <h2>$@Model.Price</h2>
            <p>@Model.Name</p>
            <form asp-page-handler="AddToCart" method="post" name="addToCartForm" id="add_cart_form">
                <a href="javascript:;" onclick="parentNode.submit();" class="btn btn-success btn-block">Add to Cart</a>
                <input type="hidden" asp-for="@Model.Id" name="productId" />
            </form>
        </div>
        <div class="product-overlay">
            <div class="overlay-content">
                <h2>$@Model.Price</h2>
                <p>@Model.Name</p>
                <form asp-page-handler="AddToCart" method="post" name="addToCartForm" id="add_cart_form">
                    <a href="javascript:;" onclick="parentNode.submit();" class="btn btn-success btn-block">Add to
                        Cart</a>
                    <input type="hidden" asp-for="@Model.Id" name="productId" />
                </form>
            </div>
        </div>
    </div>
    <div class="choose">
        <ul class="nav nav-pills nav-justified">
            <li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
            <li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>
        </ul>
    </div>
</div>